header {
  background-color: #003366; 
  color: white;
  padding:20px;
}

.header-logo{
  width:100px;
  height:auto;
  display:block;
  margin: 0 auto 10px auto;
}

body {
  background-color: #f0f0f0; /* your preferred color */
  color: #222; /* optional text color */
}
