<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}">
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <header class="flex-row">
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <img src="{{ '/assets/mylogo.jpg' | relative_url }}" alt="Logo"  class="header-logo">
    <nav>
      <a href="{{""/"" }}">Home</a>
      <a href="{{"https://amo-physics-conferences.scifat.com/alain-giresse-tene-quantum-communication-best-researcher-award-3541/#:~:text=Alain%20Giresse%20Tene%27s%20research%20interests%20encompass%20various,quantum%20communication%2C%20including%20quantum%20cryptography%2C%20quantum%20key" }}">About</a>
      <a href="{{"_posts/My-first-post.md" }}">Blog</a>
      <a href="{{ "contact.md" }}">Contact</a>
    </nav>
  </header>
  
  <!-- /*This block combine with .css to divide the page in different sections*/ -->
  <main>
  <div class="main-grid">
    <aside>
      <h3>Links and profile info </h3>
      <p>Google profile: <a href="{{"https://scholar.google.com/citations?user=fs5BEqIAAAAJ&hl=en&oi=ao" }}">Link</a>
     </p>
    </aside>
    <section>
      {{ content }}
    </section>
  </div>
</main>
<!-- It ends here  -->
  
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.author }}</p>
  </footer>
</body>
</html>
